# Compiled class files
*.class

# Build directory
/build/

# Log files
*.log

# Package files
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE specific files
.idea/
.vscode/
*.iml

# Exception for libraries
!lib/*.jar
/dist/
/data/
/ffmpeg/
/vosk-models/en/*
/vosk-models/ja/*
/vosk-models/vi/*